body {
  font-size: 16px;
  color: black;
}

a:hover {
  text-decoration: none;
}

.header {
  padding: 30px 0;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
}

.nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.header ul li a.b-b,
.footer ul li a {
  position: relative;
}

.footer ul li a::after,
.header ul li a.b-b::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: rgba(241, 167, 28, 0.87);
  -webkit-transition: width .5s;
  transition: width .5s;
  position: absolute;
  bottom: 0;
}

.footer ul li a:hover::after,
.header ul li a.b-b:hover::after {
  width: 100%;
}

.banner-bg {
  background-image: url("../Images/MainBannerBg.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner-bg {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .header .navbar-brand img {
    width: 100px;
  }
}

.header .fa-bars {
  color: #faf9f9;
}

.header .navbar-nav .nav-link {
  color: #fff;
  margin: 0 10px;
  position: relative;
}

.header .navbar-nav .nav-link:hover {
  color: #fff;
}

.banner {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.banner h1 {
  font-size: 4rem;
  text-shadow: 0px -7px 0 #484747;
}

@media (max-width: 1024px) {
  .banner h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
}

.banner h3 {
  font-size: 2.5rem;
  text-shadow: 2px -5px 0px #484747;
}

@media (max-width: 768px) {
  .banner h3 {
    font-size: 1.5rem;
  }
}

.banner h6 {
  color: #de954c;
  font-size: 1.5rem;
}

.banner a {
  background-color: #c72;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  font-weight: bold;
  margin: 20px 0 100px 0;
  font-size: 14px;
}

.welcome {
  overflow: hidden;
  padding: 150px 0;
}

@media (max-width: 768px) {
  .welcome {
    padding: 100px 0;
    background-image: unset;
  }
}

.video {
  background-image: url("../Images/Videoimg.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.video h2 {
  max-width: 100px;
  color: #b0b088;
  padding: 40px 0 0 40px;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .video h2 {
    font-size: 2rem;
  }
}

.video a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .welcome-text {
    margin-top: 20px;
  }
}

.welcome-text h2 {
  font-size: 2.5rem;
}

@media (max-width: 1024px) {
  .welcome-text h2 {
    font-size: 2rem;
  }
}

.welcome-text p {
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .welcome-text p {
    padding: 0 20px;
  }
}

.welcome .all-figure {
  position: relative;
}

.welcome .all-figure::after {
  content: '';
  position: absolute;
  width: 200%;
  top: 50%;
  height: 3px;
  background-color: #c72;
  left: -15px;
  z-index: -9;
}

@media (max-width: 768px) {
  .welcome .all-figure::after {
    left: -15%;
  }
}

.welcome .all-figure .col {
  background-color: #c72;
  margin: 0 12px;
  text-align: right;
  color: #fff;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .welcome .all-figure .col {
    text-align: center;
  }
}

.welcome .all-figure .bullet {
  position: relative;
}

.welcome .all-figure .bullet::after {
  content: '';
  top: 40%;
  position: absolute;
  right: -24px;
  width: 25px;
  z-index: -1;
  background-image: url("../Images/links.png");
  display: block;
  height: 30px;
}

.welcome .all-figure img {
  margin: 30px 0 10px;
}

.welcome .all-figure h4 {
  margin-bottom: 0;
  font-weight: 700;
}

.how-works {
  background-image: url("../Images/Dashline-up.png");
  background-repeat: no-repeat;
  background-color: #faf9f9;
  padding: 200px 0;
  background-position-x: center;
  background-size: contain;
  background-position-y: 40%;
}

@media (max-width: 768px) {
  .how-works {
    padding: 100px 0;
    background-image: unset;
  }
}

.how-works img {
  padding-bottom: 15px;
}

.how-works h3 {
  font-weight: 600;
  font-size: 2rem;
}

.how-works h6 {
  color: #868e96;
  font-size: 1.2rem;
}

.how-works h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.how-works span {
  font-size: 3rem;
  color: black;
  line-height: 0;
  text-shadow: 2px -9px 0px #f1dfce;
}

.how-works .dash-bg {
  background-image: url("../Images/dashedline-down.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

@media (max-width: 768px) {
  .how-works .dash-bg {
    background-image: unset;
  }
}

.current-project {
  background-image: url("../Images/projects-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

@media (max-width: 768px) {
  .current-project {
    padding: 100px 0;
  }
}

@media (max-width: 576px) {
  .current-project {
    padding: 50px 0;
  }
}

.current-project h3 {
  font-size: 2rem;
}

.current-project .details {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  max-width: 40%;
  margin-left: 40px;
}

@media (max-width: 1024px) {
  .current-project .details {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .current-project .details {
    max-width: 100%;
    position: unset;
  }
}

.current-project .details h2 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .current-project .details h2 {
    font-size: 2rem;
  }
}

.current-project .progress-area {
  background-color: #c4c4c4;
  height: 10px;
}

@media (max-width: 768px) {
  .current-project .progress-area {
    margin: 0 -15px;
  }
}

.current-project .progress-area .progress-bar {
  background-color: #ddd62b;
  width: 30%;
  height: 100%;
}

.current-project .progress-details {
  background-color: #f2f1f1;
  padding: 20px 0 20px 40px;
}

.b-bottom {
  border-bottom: 2px solid #d0d0d0;
}

.b-right {
  border-right: 1px solid #d0d0d0;
}

@media (max-width: 768px) {
  .b-right {
    border: 0;
  }
}

.current-project .progress-details h6 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #67696c;
  margin-bottom: 0;
}

.current-project .progress-details p {
  color: #868e96;
}

.current-project li {
  list-style: none;
  display: inline-block;
}

.current-project ul a {
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.current-project .details-btn {
  border: 1px solid #c72;
  margin-right: 10px;
  color: black;
}

.current-project .donate-btn {
  background-color: #de954c;
  color: #fff;
}

.current-project .share h5 {
  margin-top: 3rem;
  color: #353535;
}

@media (max-width: 1024px) {
  .current-project .share h5 {
    margin-top: 1rem;
  }
}

.current-project .share p {
  color: #827878;
}

@media (max-width: 768px) {
  .current-project .social a {
    padding: 0;
    margin: 0 5px;
  }
}

.current-project .social a i {
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media (max-width: 768px) {
  .current-project .social a i {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.current-project .social a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.current-project .social a .fa-facebook-f {
  background-color: #3b5998;
}

.current-project .social a .fa-twitter {
  background-color: #00acee;
}

.current-project .social a .fa-whatsapp {
  background-color: #25d366;
}

.current-project .social a .fa-linkedin-in {
  background-color: #0e76a8;
}

.current-project .social a .fa-share-alt {
  background-color: #353535;
}

.donate {
  background-image: url("../Images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 230px;
}

@media (max-width: 1024px) {
  .donate {
    padding: 150px 0 180px;
  }
}

@media (max-width: 768px) {
  .donate {
    padding: 100px 0 130px;
  }
}

@media (max-width: 576px) {
  .donate {
    padding: 50px 0 100px;
  }
}

.donate h2 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  .donate h2 {
    font-size: 2rem;
  }
}

.form {
  margin-top: -170px;
  padding-bottom: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .form {
    margin-top: -100px;
    padding-bottom: 70px;
  }
}

@media (max-width: 576px) {
  .form {
    margin-top: -50px;
    padding-bottom: 50px;
  }
}

.form form {
  background-color: #c72;
  border-radius: 10px;
  padding: 80px 30px;
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .form form {
    padding: 60px 30px;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .form form {
    padding: 40px 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .form form {
    padding: 30px 10px;
    margin-bottom: 30px;
  }
}

.form form img {
  margin: 0 auto;
  padding-bottom: 70px;
  display: block;
}

@media (max-width: 768px) {
  .form form img {
    padding-bottom: 30px;
  }
}

.form form input,
.form form button {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.form form input {
  background-color: #c72;
  border: 1px solid #868e96;
}

.form form input:focus {
  outline: 0;
}

.form form button {
  background-color: #fff;
  color: #000;
  margin-top: 15px;
  border: 0;
}

.form p {
  font-size: 18px;
}

.form h6 {
  color: #de954c;
  font-weight: 600;
  font-size: 25px;
}

.footer {
  background-image: url("../Images/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer {
    padding: 150px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 0;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 50px 0;
  }
}

.footer .logo img {
  margin-bottom: 30px;
}

.footer h6 {
  font-weight: 600;
  font-size: 24px;
  border-bottom: 2px solid #989494;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .footer h6 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  color: #fff;
  font-weight: 700;
  margin: 2px 0;
  display: inline-block;
  padding-bottom: 3px;
}

.footer ul li i {
  display: inline-block;
  margin-right: 10px;
}

.footer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 3px 5px 5px;
  background-color: #fff;
  border-radius: 3px;
}

.footer .subscribe input {
  border: 0;
  padding-left: 20px;
  width: 65%;
  font-size: 14px;
}

.footer .subscribe input:focus {
  outline: 0;
}

.footer .subscribe button {
  background-color: #c72;
  border-radius: 3px;
  color: #fff;
  width: 35%;
  border: 0;
  padding: 5px;
  font-size: 14px;
  -webkit-box-shadow: 0px 1px 4px #c72;
          box-shadow: 0px 1px 4px #c72;
}
/*# sourceMappingURL=main.css.map */